.navbar-nav.me-auto {
  background-image: url(https://raw.githubusercontent.com/gowachin/matreex/dev/inst/fig/logoINRAE.png);
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position-x: 420px;
  background-position-y: center;
  padding-right: 400px;
}

